$orange-color: #DBAB49;
$light-green-color: #98BCAC; 
$green-color: #619766;

// Цвета
$primary-color: #DBAB49;
$text-color: #333333;
$text-color-secondary: #666666;
$background-color: #F8F8F8;
$white: #FFFFFF;
$border-color: #E0E0E0;

// Медиа-запросы
$tablet: 768px;
$mobile: 480px;